.btn-initiative{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  //background-color: red;
  background: url("../images/arrow.png") no-repeat center;
  min-width: 51.63px;
  min-height: 51.63px;
}
