.btn-initiative{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  //background-color: red;
  background: url("../images/arrow.png") no-repeat center;
  min-width: 51.63px;
  min-height: 51.63px;
}
.btn-donate {
  float: right;
  background: $color-green;
  line-height: 31px;
  text-align: center;
  width: 149px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 7px;
  font-size: 35px;
  line-height: 1.8;
  vertical-align: center
}
