.btn-initiative{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: url("../images/arrow.png") no-repeat center;
  min-width: 51.63px;
  min-height: 51.63px;
  @media (min-width: $screen-xs-min) and(max-width: $screen-xs-max){
    background: url(../images/arrow.png) no-repeat 3px;
    min-width: 33px;
    min-height: 33px;
    background-size: 25px 23px;
  }

}
.btn-donate {
  letter-spacing: 1.1px;
  font-family: Langdon,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  bottom: 30px;
  margin-right: 2.2%;
  background: $color-light-green;
  text-align: center;
  width: 149px;
  height: 149px;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  text-decoration: none;
  span{
    font-size: 31px;
    letter-spacing: 2.2px;
    margin-top: -15px;
    font-family: $Gotham-Medium-Regular;
  }
  @media (max-width: $screen-xs-max){
    width: 59px;
    height: 59px;
    font-size: 12px;
    margin-top: 45px;
    span{
      font-size: 1.14rem;
      margin-top: -6px;
    }
  }
  @media (min-width: $screen-lg-min){
    right: 14%;
  }
}

.link-more{
  font-size: 1.7rem;
}

