body{
  font-family: $open-sans;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
p{
  @include font-size(1.82);
  color: $color-black;
}
a{
  color: $color-dark-green;
  //font-family: $Gotham-Medium-Regular;
}

.container {
  @media (min-width: $screen-lg-min){
    width: 927px;
  }
  @media (min-width: $screen-md-min){
    width: 930px;
  }
}
strong{
  color: $color-grey3;
}
.sub-title{
  margin: 15px 0 30px;
 }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: $MuseoSans700;
}



