body{
  font-family: $open-sans;
}
p{
  @include font-size(1.8);
}
a{
  color: $color-dark-green;
  font-family: $Gotham-Medium-Regular;
}

.container {
  @media (min-width: $screen-lg-min){
    width: 936px;
  }
}

.sub-title{
  margin: 15px 0 30px;
 }


