// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
//font-size:
$font-size-base : 14px;


// Colors
$color-black:                       #000000;
$color-white:                       #ffffff;
$color-orange:                      #f7903c;
$color-light-blue:                  #00b1f0;
$color-light-blue2:                 #6daadf;
$color-light-blue3:                 #007ab9;
$color-light-blue4:                 #55acee;
$color-dark-blue:                   #005b7f;
$color-dark-blue1:                  #3d5191;
$color-dark-blue2:                  #3b5998;
$color-green:                       #97c83e;
$color-light-green:                 #96C33E;
$color-grey:                        #909092;
$color-grey2:                       #4d4d4f;
$color-grey3:                       #58595b;
$color-grey4:                       #4d738a;
$color-grey5:                       #716f6f;
$color-light-grey:                  #f1f1f1;
$color-light-grey2:                 #b3b3b3;
$color-light-grey3:                 #ebebeb;
$color-light-grey4:                 #f3f3f3;
$color-dark-green:                  #47B046;
$color-dark-green2:                 #1e731e;
$color-dark-grey:                   #bbbcbd;
$color-dark-grey2:                  #666666;
$color-grey-green:                  #4d7f70;
$color-grey-blue:                   #385790;
$color-yellow:                      #ffea0a;
$color-orange-opacity:              rgba(247, 144, 60,0.8);
$color-light-green-opacity:         rgba(254, 255, 250, 0.7);
$color-light-green-opacity2:         rgba(150, 195, 62,0.8);
$color-grey-opacity:                rgba(245,245,245,0.7);
$color-grey-green-opacity:          rgba(77, 127, 112,0.7);
$color-light-blue-opacity:          rgba(0, 177, 240,0.7);
  //Font

@mixin font-face($font-family, $font-url, $font-name) {
  @font-face {
    font: {
      family: $font-family;
      style: normal;
      weight: normal;
    }
    src:  url($font-url + '/' + $font-name + '.ttf')  format('truetype');
  }
}

@include font-face("Gotham-Medium-Regular", '../fonts','Gotham-Medium-Regular');
@include font-face("gotham-bold", '../fonts','gotham-bold');
@include font-face("MuseoSans2", '../fonts','MuseoSans2');
@include font-face("Langdon", '../fonts','Langdon');
@include font-face("Lulo-Clean-Outline-Bold", '../fonts','Lulo-Clean-Outline-Bold');
@include font-face("proximanova-regular", '../fonts','proximanova-regular');
@include font-face("MuseoSans700", '../fonts','MuseoSans700');

$proximanova-regular : 'proximanova-regular', sans-serif;
$open-sans : 'Open Sans', sans-serif;
$Gotham-Medium-Regular : "Gotham-Medium-Regular", Helvetica, Arial, sans-serif;
$gotham-bold : "Gotham-Medium-Regular", Helvetica, Arial, sans-serif;
$MuseoSans2 : "MuseoSans2", Helvetica, Arial, sans-serif;
$MuseoSans700 : "MuseoSans2", Helvetica, Arial, sans-serif;
$Langdon : "Langdon", Helvetica, Arial, sans-serif;
$Lulo-Clean-Outline-Bold : "Lulo-Clean-Outline-Bold", Helvetica, Arial, sans-serif;

@mixin font-size($sizeValue: 1.0) {
  font-size: ($sizeValue * $font-size-base);
  font-size: $sizeValue + rem;
}
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xxs` as of v3.0.1
$screen-xxs:                  300px !default;
//** Deprecated `$screen-xxs-min` as of v3.2.0
$screen-xxs-min:              $screen-xxs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xxs-min !default;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxss-max:            ($screen-xxs-min - 1) !default;
$screen-xss-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

