.page-template-template-about-php{
  .main{
    margin-bottom: 15px;
    .about-container-content{
      padding: 0 5px;
      h1{
        margin: 28px 0 20px 5px;
        letter-spacing: 1.3px;
      }
      strong{
        font-size: 2.115rem;
        line-height: 1;
        -webkit-text-stroke-width: 0px;
      }
      p{
        line-height: 1.7;
        letter-spacing: 0.3px;
        -webkit-text-stroke-width: .5px;
      }
    }
    .about-committee-members{
      color: $color-grey3;
      margin: 57px 0 30px;
      padding-left: 3px;
      .commitee-members-outers{
        &:nth-child(4n+2){
          .commitee-members{
            margin-left: 38px;
            @media (max-width: $screen-sm-max){
              margin-left: 0px;
            }
          }
        }
        &:nth-child(4n+3){
          .commitee-members{
            margin-left: 83px;
            @media (max-width: $screen-sm-max){
              margin-left: 0px;
            }
          }
        }
        .commitee-members{
          @media (min-width: $screen-sm-min){
            width: 197px;
          }
          .committee-member-image {
            cursor: pointer;
            img{
              margin: auto;
              display: block;
            }
          }
          .committee-member-information{
            margin-top: 28px;
            margin-bottom: 32px;
            .committee-member-name {
              font-weight: 600;
              font-size: 2.2rem;
              margin-bottom: 5px;
              text-align: center;
              cursor: pointer;

            }
            .committee-member-job-title,.committee-member-company{
              margin-bottom: 5px;
              font-size: 16px;
              text-align: center;
            }
            .committee-member-company{
              a{
                font-family: $open-sans;
                color: $color-grey3;
              }
            }
            .modal{
              .modal-dialog{
                .modal-content{
                  .modal-body{
                    .image-user-container{
                      img{
                        @media (max-width: $screen-xs-max){
                          margin: 10px auto;
                        }
                      }
                    }
                    .image-user-content-container{

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}