.page-template-template-about-php{
  .main{
    margin-bottom: 15px;
    .about-container-content{
      h1{
        margin: 28px 0 20px;
        letter-spacing: 1.4px;
      }
      strong{
        font-size: 2.115rem;
        line-height: 1;
      }
      p{
        line-height: 1.7;
      }
    }
    .about-committee-members{
      color: $color-grey3;
      margin: 57px 0 30px;
      //padding-right: 0;
      .commitee-members-outers{
        &:nth-child(4n+2){
          .commitee-members{
            margin-left: 36px;
            @media (max-width: $screen-sm-max){
              margin-left: 0px;
            }
          }
        }
        &:nth-child(4n+3){
          .commitee-members{
            margin-left: 83px;
            @media (max-width: $screen-sm-max){
              margin-left: 0px;
            }
          }
        }
        .commitee-members{
          @media (min-width: $screen-sm-min){
            width: 197px;
          }
          a{
            text-decoration: none;
            color: $color-grey2;
            &:hover,
            &:focus{
              text-decoration: none;
              color: $color-grey3;
            }
            .committee-member-image {
              img{
                margin: auto;
                display: block;
              }
            }
            .committee-member-name {
              margin-top: 28px;
              font-weight: 600;
              font-size: 2.2rem;
              margin-bottom: 5px;
              text-align: center;

            }
          }
          .committee-member-job-title,.committee-member-company{
            margin-bottom: 5px;
            font-size: 16px;
            text-align: center;
          }
          .committee-member-company{
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}