footer{
  background: #97c83e;
  color: #FFFFFF;
  text-align: right;
  padding: 15px 0;
  margin-top:10px;
  .footer-bottom-outer{
    .social-media {
      margin: 10px 0;
    }
    .footer-container{
      padding: 0;
      .footer-title{
        h1{
          text-transform: uppercase;
          color: $color-white;
          letter-spacing: 2.5px;
          margin:5px 0;
          @media (min-width: $screen-sm-min){
            font-size: 3.5rem;
          }
        }
      }
      .footer-description{
        p{
          color: $color-white;
          margin-bottom:8px;
          @media (min-width: $screen-sm-min){
            font-size: 2rem;
          }
        }
      }
    }
  }
}