footer{
  background: #97c83e;
  color: #FFFFFF;
  text-align: right;
  padding: 10px 40px;
  h1{
    text-transform: uppercase;
    font-family: $Gotham-Medium-Regular;
  }
  h3{
    font-weight: 100;
  }
}