.home{
    .initiative-buttons-ounter-container {
        padding: 20px 0;
        .initiative-buttons-box {
            margin-bottom: 15px;
            .initiative-buttons-content {
                margin: 0 22px 0 0px;
            }
            &:nth-child(2){
                .initiative-buttons-content{
                    margin: 0 49px 0 15px;
                }
            }
            &:nth-child(3){
                .initiative-buttons-content{
                    margin: 0 -17px 0 -4px;
                }
            }
        }
    }
    .about-outer-container{
        padding: 30px 0;
        margin-bottom: 13px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        .about-container{
            background: $color-light-green-opacity;
            padding: 20px 40px;
            margin: 0px 30px;
            line-height: 1.6;
            min-height: 299px;
            @media (max-width: $screen-xs-max){
                padding: 20px;
            }
            h1{
                color: $color-dark-green;
                text-transform: uppercase;
                font-family: $Gotham-Medium-Regular;
                margin-bottom: 15px;
                margin-top: 10px;
                @include font-size(3.7);
            }
            a{
                font-family: $open-sans;
                color: $color-grey2;
            }
        }
    }
}