header{
  .header-top-outer{
    margin-top: 20px;
    margin-bottom: 20px;
    .header-top-container{
      .social-media{
        margin-top: -17px;
        margin-bottom: -6px;
        margin-right: -3px;
        @media (min-width: $screen-md-min){
          margin-right: -3px;
        }
      }
      .header-logo{
        .logo-image{
          img{
            padding: 0;
            width: 395px;
            height: auto;
            margin-left: 2px;
            @media (min-width: $screen-sm-min)and (max-width: $screen-md-max){
              margin-left: -18px;
            }
          }
        }
      }
      .search-form-container{
        margin-top: 23px;
        form{
          margin-right: -6px;
          label{
            input{
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
              height: 46px;
              width: 274px;
              border: solid 1px $color-dark-grey;
              margin-right: -4px;
            }
          }
          button[type="submit"]{
            vertical-align: top;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            padding: 6px 12px 7px;
            width: 61px;
            background: $color-green;
            height: 46px;
            color: #FFFFFF;
            border-color: $color-green;
            text-transform: uppercase;
            @include font-size(2.3);
            letter-spacing: 1px;
            &:hover{
              background-color: $color-light-green;
            }
          }
          @media (min-width: $screen-md-min){
            margin-right: -7px;
          }
        }
      }
    }
  }
  .header-bottom-outer{
    background-color: $color-light-grey3;
    .nav-primary{
      min-height: 0;
      margin:  0 0 2px 0 ;
      .navbar-header{
        @media (min-width: $screen-sm-min){
          float: none;
        }
        .navbar-toggle{
          margin-right: 0;
          .icon-bar{
            background-color: $color-green;
          }
        }
        .logo-image{
          img{
            padding:0;
          }
        }
        #navbar-main-menu{
          padding:0;
          .menu-main-menu-container{
            #menu-main-menu{
              margin-bottom: -2px;
              @media (max-width: $screen-xs-max){
                li{
                  .toogle-icon{
                    color: $color-dark-green;
                    margin-top: 3px;
                    position: absolute;
                    right: 6px;
                    z-index: 999;
                    font-size: 2rem;
                  }
                  a{
                    border-bottom: solid thin $color-green;
                    @include font-size(1.2);
                    padding: 5px 0px;
                  }
                  .sub-menu{
                    display: none;
                    list-style: none;
                    padding: 0;
                    a{
                      padding: 5px 20px;
                      display: block;
                    }
                  }
                  //&.menu-item-has-children{
                  //  a{
                  //    &::after{
                  //      content: '\f055';
                  //      font-family: FontAwesome;
                  //      font-weight: normal;
                  //      font-style: normal;
                  //      float: right;
                  //    }
                  //    &::before{
                  //      content: '\f056;';
                  //      font-family: FontAwesome;
                  //      font-weight: normal;
                  //      font-style: normal;
                  //      float: right;
                  //    }
                  //  }
                  //}
                }
              }
              @media (min-width: $screen-sm-min) {
                li{
                  width: 16.167%;
                  display: inline-block;
                  text-align: center;
                  line-height: 68px;
                  &:hover,
                  &:focus{
                    >a{
                      color: $color-white;
                      background-color: $color-light-green-opacity2;
                    }
                    &:hover{
                      .sub-menu{
                        display: block;
                      }
                    }
                  }

                  .sub-menu{
                    margin-bottom: -1px;
                    padding:0;
                    min-width: 361px;
                    display: none;
                    position: absolute;
                    background: $color-light-green-opacity2;
                    z-index: 5;
                    left: 0;
                    list-style: none;
                    li{
                      display: block;
                      width: 100%;
                      text-align: left;
                      &:hover,
                      &:focus{
                        a{
                          background: $color-light-grey;
                          color: $color-dark-green;
                        }
                      }
                      a{
                        color: $color-white;
                        padding: 10px;
                        display: block;
                        font-size: 2.2rem;
                        text-transform: capitalize;
                        line-height: 79px;
                        padding: 0 0 0 10%;
                        position: relative;
                        &::before{
                          content : "";
                          position: absolute;
                          left    : 10%;
                          bottom  : 0;
                          height  : 1px;
                          width   : 80%;  /* or 100px */
                          border-bottom:1px solid #d8d8d8;
                          margin: auto;
                        }
                        &:hover,
                        &:focus{
                          text-decoration: none;
                        }
                      }
                    }
                  }
                }

              }
              @media (min-width: $screen-sm-max){
                li{
                  display: inline-block;
                  width: 16.3%;
                }
              }
              a{
                text-transform: uppercase;
                font-family: $MuseoSans2;
                font-size: 2.4rem;
                letter-spacing: 2.1px;
                padding: 0;
                @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min){
                  font-size: 1.8rem;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: $screen-xs-max){
      padding: 5px 0px;
    }
  }
}