header{
  .header-top-outer{
    .header-top-container{
      padding-top: 2%;
      .header-logo{
        a{
          .navbar-brand{
            padding: 0;
            margin-left: 1px;
            height: auto;
          }
        }
      }
      .search-form-container{
        -webkit-box-shadow: 8px 6px 26px -5px #756868;
        box-shadow: 8px 6px 26px -5px #756868;
        form{
          input{
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            height: 40px;
            width: 223px;
          }
          input[type="submit"]{
            margin-left: -5px;
            width: 126px;
            background: $color-green;
            color: #FFFFFF;
            border-color: $color-green;
            text-transform: uppercase;
            @include font-size(1.8);
            letter-spacing: 1px;
            font-family: $Gotham-Medium-Regular;
            &:hover{

            }
          }
        }
      }
    }
  }
  .header-bottom-outer{
    margin-top: 15px;
    .nav-primary{
      margin-bottom: 0px;
      @media (min-width: $screen-sm-min){
        float: right;
      }
      .navbar-header{
        .navbar-toggle{

        }
        #navbar-main-menu{
          .menu-main-menu-container{
            #menu-main-menu{
              li{
                display: inline-block;
                &.menu-item-has-children{
                  >a{
                    &::after{
                      content: '\f0d7';
                      font-family: FontAwesome;
                      margin-left: 5px;
                      font-size: 13px;
                      vertical-align: text-bottom;
                    }
                  }
                }
                &:hover{
                  .sub-menu{
                    display: block;
                  }
                }
                .sub-menu{
                  border-right: 2px solid #49b448;
                  min-width: 210px;
                  display: none;
                  position: absolute;
                  background: white;
                  z-index: 5;
                  left: 0;
                  padding: 0;
                  list-style: none;
                  li{
                    display: block;
                    a{
                      font-family: $Gotham-Medium-Regular;
                      color: #000000;
                      padding: 10px;
                      display: block;
                      border-top: 1px solid #c4bfc3;
                      font-size: 13px;
                      text-transform: capitalize;
                      &:hover,
                      &:focus{
                        text-decoration: none;
                      }
                    }
                  }
                }
                a{
                  text-transform: uppercase;
                  font-family: $Gotham-Medium-Regular;
                  font-size: 17.08px;
                  padding: 10px 5.8px;
                  @media (min-width: $screen-md-min){
                    padding: 10px 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}