//GUGO SECTION
.page-template-template-gugo-php,.page-template-template-gugo-news{
  &.page-parent{
    .title-page{
      display: none;
    }
  }
  .home-page-background{
    .border-triangle{
      img{
        @media (max-width: $screen-xs-max){
          position: absolute;
          top: 5px;
          width: 50px;
          left: 5px;
        }
      }
    }
    .btn-donate{
      background-color: $color-orange-opacity;
    }
  }
  .home-page-background-caption{
    background: $color-light-green;
    padding:0;
    p{
      color: $color-white;
      @include font-size(3);
      font-weight: 600;
      text-transform: uppercase;
      margin: auto;
      padding-top: 15px;
      padding-bottom: 5px;
      letter-spacing: 2.9px;
      margin-left: 25px;
      @media (max-width: $screen-xs-max){
        @include font-size(1.5);
      }
      a{
        color: $color-white;
        &:hover,
        &:focus{
          //color: $color-orange;
          text-decoration: underline;
        }
      }
    }
  }
  .second-menu-container{
    background: $color-orange;
    .second-menu{
      .nav-primary{
        .navbar-header{
          #second-menu{
            .menu{
              li{
                &:hover,
                &.current-menu-item{
                  a{
                    color: $color-yellow;
                  }
                }
                .sub-menu{
                  background-color: $color-orange;
                }
                }
              }
            }
          }
        }
      }
    }
  h1{
    color: $color-light-green;
    font-weight: 600;
  }
  .article-outer-container{
    article{
      header{
        .entry-title{
          a{
            color: $color-orange;
          }
        }
        .post-info{
          p{

          }
        }
      }
      .entry-summary{

        p{

        }
      }
    }
  }

  footer{
    .footer-bottom-outer{
      .social-media-container{
        .social-media{
          .icon-instagram,
          .icon-facebook,
          .icon-twitter{
            background-color: $color-orange;
          }
        }
      }
    }
  }
}

//ACP SECTION

.page-template-template-acp,.page-template-template-acp-news{
  &.page-parent{
    .title-page{
      display: none;
    }
  }
  .home-page-background{
    .border-triangle{
      img{
        @media (min-width: $screen-sm-max){
          width: 265px;
          top:0;
          left: 0;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
          top: -22px;
          left: 2px;
          width: 184px;
        }
      }
    }
    .btn-donate{
      background-color: $color-grey-green-opacity;
    }
  }
  .home-page-background-caption{
    background: $color-dark-blue;
    padding:0;
    p{
      color: $color-white;
      @include font-size(3);
      font-weight: 600;
      text-transform: uppercase;
      margin: auto;
      padding-top: 15px;
      padding-bottom: 5px;
      margin-left: 25px;
      letter-spacing: 2.9px;
      @media (max-width: $screen-xs-max){
        @include font-size(1.5);
      }
      a{
        color: $color-white;
        &:hover,
        &:focus{
          text-decoration: underline;
          //color: $color-grey-green;
        }
      }
    }
  }
  .second-menu-container{
    background: $color-grey-green;
    .second-menu{
      .nav-primary{
        .navbar-header{
          #second-menu{
            .menu{
              li{
                &:hover,
                &.current-menu-item{
                  a{
                    color: $color-dark-blue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  h1{
    color: $color-dark-blue;
    font-weight: 600;
  }
  .article-outer-container{
    article{
      header{
        .entry-title{
          a{
            color: $color-grey-green;
          }
        }
        .post-info{
          p{

          }
        }
      }
      .entry-summary{

        p{

        }
      }
    }
  }
  footer{
    .footer-bottom-outer{
      .social-media-container{
        .social-media{
          .icon-instagram,
          .icon-facebook,
          .icon-twitter{
            background: $color-dark-blue;
          }
        }
      }
    }
  }
}

//LIVE HEALTHY
.page-template-template-live-healty{
  .home-page-background{
    .border-triangle{
      img{
        @media (max-width: $screen-xs-max){
          position: absolute;
          top: 5px;
          width: 50px;
          left: 5px;
        }
      }
    }
    .btn-donate{
      background-color: $color-light-blue-opacity;
    }
  }
  .home-page-background-caption{
    background: $color-light-blue;
    padding:0;
    p{
      color: $color-white;
      @include font-size(3);
      font-weight: 600;
      text-transform: uppercase;
      margin: auto;
      padding-top: 15px;
      padding-bottom: 5px;
      letter-spacing: 2.9px;
      margin-left: 25px;
      @media (max-width: $screen-xs-max){
        @include font-size(1.5);
      }
      a{
        color: $color-white;
        &:hover,
        &:focus{
          text-decoration: underline;
          //color: $color-dark-blue1;
        }
      }
    }
  }

  .second-menu-container{
    background: $color-dark-blue1;
    .second-menu{
      .nav-primary{
        .navbar-header{
          #second-menu{
            .menu{
              li{
                &:nth-last-of-type(1){
                  a{
                    background-color: $color-dark-green;
                    padding: 5px 5px;
                  }
                  &:hover,
                  &.current-menu-item{
                    a{
                      background: $color-white;
                      color: $color-dark-green;
                    }
                  }
                }
                &:hover,
                &.current-menu-item{
                  a{
                    color: $color-dark-green;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  h1{
    color: $color-light-blue;
    font-weight: 600;
  }
  .live-healthy-poster-outer-container{
    background-color: $color-grey-blue;
    padding: 25px 19px;
    margin: 0px 17.8px 66px 16px;
    .live-healthy-poster-container{
      .poster-image{
        @media (max-width: $screen-xs-max){
          img{
            margin: auto auto 15px;
          }
        }
      }
      .poster-description{
        h1{
          color: $color-light-green;
          margin-top:0;
        }
        ul{
          li{
            color: $color-white;
            list-style-position: inside;
            font-size: 1.75rem;
            @media (max-width: $screen-xs-max){
              list-style-position: outside;
            }
          }
        }
      }
    }
  }
  .why-to-get-involved-container{
    margin: 40px 17.8px 0px 16px;
    .why-to-get-involved-content{
      padding-left: 7px;
      .title-page{
        padding: 0 27% 0 0;
        letter-spacing: 3.8px;
        font-weight: 600;
        font-size: 3.6rem;
        @media (max-width: $screen-xs-max){
          padding:0;
        }
      }
      p{
        padding: 0 25px 0 0;
      }
    }
    img{
      margin: 20px 0;
      width: 100%;
    }
  }
  .services-container{
    .services-image{
      padding: 15px 18px 0;
      img{

      }
    }
  }
  
  .box-link-container{
    position: relative;
    .box-link-inner-container{
      &:nth-of-type(3){
        .box-menu-image{
          a{
            &:before{
              content:url('../images/join.png');
              min-width: 51.63px;
              min-height: 51.63px;
              position: absolute;
              top: -39px;
              right: 32px;
              @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
                top: -56px;
                right: 0;
              }
              @media (max-width: $screen-md-max){
                display: none;
              }
            }
            &:after{
              content:url('../images/join-arrow.png');
              min-width: 26px;
              min-height: 51.63px;
              position: absolute;
              top: 7px;
              right: -12px;

              @media (max-width: $screen-md-max){
                display: none;
              }
            }
            img{

            }
          }
        }
      }
    }
  }
  footer{
    .footer-bottom-outer{
      .social-media-container{
        .social-media{
          .icon-instagram,
          .icon-facebook,
          .icon-twitter{
            background: $color-light-blue;
          }
        }
      }
    }
  }
}
