//GUGO SECTION
.page-template-template-gugo-php,.page-template-template-gugo-news{
  &.page-parent{
    .title-page{
      display: none;
    }
  }
  .home-page-background{
    .home-page-background-caption{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-light-green;
      top:auto;
      p{
        margin: auto;
        width: 844px;
        padding-top: 11px;
        padding-bottom: 5px;
        letter-spacing: 2.9px;
      }
    }
    .btn-donate{
      background-color: $color-orange-opacity;
      bottom: 81px;
    }
  }
  .second-menu-container{
    background: $color-orange;
    .second-menu{
      .nav-primary{
        .navbar-header{
          #second-menu{
            .menu{
              li{
                &:hover,
                &.current-menu-item{
                  a{
                    color: $color-yellow;
                  }
                }
                }
              }
            }
          }
        }
      }
    }
  h1{
    color: $color-light-green;
  }
  .outer-container-content {
    padding: 35px 5px 0;
  }
  .article-outer-container{
    article{
      header{
        .entry-title{
          a{
            color: $color-orange;
          }
        }
        .post-info{
          p{

          }
        }
      }
      .entry-summary{

        p{

        }
      }
    }
  }
}

//ACP SECTION

.page-template-template-acp,.page-template-template-acp-news{
  &.page-parent{
    .title-page{
      display: none;
    }
  }
  .home-page-background{
    .border-triangle{
      img{
        width: 242px;
        @media (max-width: $screen-xs-max){
          position: absolute;
          top: 5px;
          width: 129px;
          left: 2px;
        }
      }
    }
    .home-page-background-caption{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-dark-blue;
      top:auto;
      p{
        margin: auto;
        width: 844px;
        padding-top: 11px;
        padding-bottom: 5px;
        letter-spacing: 2.9px;
      }
    }
    .btn-donate{
      background-color: $color-grey-green-opacity;
      bottom: 81px;
    }
  }
  .second-menu-container{
    background: $color-grey-green;
    .second-menu{
      .nav-primary{
        .navbar-header{
          #second-menu{
            .menu{
              li{
                &:hover,
                &.current-menu-item{
                  a{
                    color: $color-dark-blue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  h1{
    color: $color-light-blue;
  }
  .outer-container-content {
    padding: 35px 5px 0;
  }
  .article-outer-container{
    article{
      header{
        .entry-title{
          a{
            color: $color-grey-green;
          }
        }
        .post-info{
          p{

          }
        }
      }
      .entry-summary{

        p{

        }
      }
    }
  }
}

//LIVE HEALTHY
.page-template-template-live-healty{
  .outer-container-content{
    padding: 35px 5px 0;
  }
  .home-page-background{
    .home-page-background-caption{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-light-blue;
      top:auto;
      p{
        margin: auto;
        width: 844px;
        padding-top: 11px;
        padding-bottom: 5px;
        letter-spacing: 2.9px;
      }
    }
    .btn-donate{
      background-color: $color-light-blue-opacity;
      bottom: 81px;
    }
  }

  .second-menu-container{
    background: $color-dark-blue1;
    .second-menu{
      .nav-primary{
        .navbar-header{
          #second-menu{
            .menu{
              li{
                &:nth-last-of-type(1){
                  a{
                    background-color: $color-dark-green;
                    padding: 5px 5px;
                  }
                  &:hover,
                  &.current-menu-item{
                    a{
                      background: $color-white;
                      color: $color-dark-green;
                    }
                  }
                }
                &:hover,
                &.current-menu-item{
                  a{
                    color: $color-dark-green;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  h1{
    color: $color-light-blue;
  }
  .live-healthy-poster-outer-container{
    background-color: $color-grey-blue;
    padding: 25px 19px;
    margin: 28px 17.8px 28px 16px;
    .live-healthy-poster-container{
      .poster-image{
        float: left;
        margin-right: 25px;
        @media (max-width: $screen-xs-max){
          float: none;
          img{
            margin: auto auto 15px;
          }
        }
      }
      .poster-description{
        h1{
          color: $color-light-green;
          margin-top:0;
        }
        ul{
          li{
            color: $color-white;
            list-style-position: inside;
            font-size: 1.75rem;
          }
        }
      }
    }
  }
  .why-to-get-involved-container{
    margin: 40px 17.8px 0px 16px;
    .why-to-get-involved-content{
      padding-left: 7px;
      .title-page{
        padding: 0 27% 0 0;
        letter-spacing: 3.8px;
        font-weight: 600;
        font-size: 3.6rem;
        @media (max-width: $screen-xs-max){
          padding:0;
        }
      }
      p{
        padding: 0 25px 0 0;
      }
    }
    img{
      margin: 20px 0;
      width: 100%;
    }
  }
  .services-container{
    .services-image{
      padding: 15px 18px 0;
    }
  }
  
  .box-link-container{
    margin-top: 59px;
    .box-link-inner-container{
      &:nth-of-type(4){
        .box-menu-image{
          position: relative;
          a{
            img{
            }
            &:before{
              content:url('../images/join.png');
              min-width: 51.63px;
              min-height: 51.63px;
              position: absolute;
              top: -56px;
              right: 0;
              @media (max-width: $screen-sm-min){
                display: none;
              }
            }
            &:after{
              content:url('../images/join-arrow.png');
              min-width: 51.63px;
              min-height: 51.63px;
              position: absolute;
              top: 0;
              right: -60px;
              @media (max-width: $screen-xs-min){
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
