.page-template-template-initiatives{
    .home-page-background-caption{
        position: absolute;
        bottom: 0;
        top: inherit;
        padding: 0;
        left: 0;
        right: 0;
        padding: 25px 0 14px;
        background-color: $color-green;
        h1{
            width: 927px;
            margin: auto;
        }
    }
}