//big-background
.home-page-background{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 464px;
  overflow: hidden;
  -moz-box-shadow: inset 0 0 150px #000000;
  -webkit-box-shadow: inset 0 0 150px #000000;
  box-shadow: inset 0 0 150px #000000;
  position: relative;
  .home-page-background-caption{
    top: 50%;
    transform: translateY(8%);
    padding: 0 5.3%;
    h1{
      @media (min-width: $screen-sm-min){
        @include font-size(5.5);
      }
      font-family: $Lulo-Clean-Outline-Bold;
      color: $color-white;
      @include font-size(3);
      text-transform: uppercase;
      margin-top: 11px;
      margin-bottom: 4px;
    }
    p{
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.6;
      font-size: 1.8rem;
      color: $color-white;
      letter-spacing: 5px;
      margin: 7px -5.8% 0 0;
      @media (min-width: $screen-sm-min){
        font-size: 3.5rem;
      }
    }
  }
}

//initiative button
.initiative-buttons-ounter-container{
  padding: 14px 0 2px;
  .initiative-buttons-box{
    margin-bottom:15px;
    .initiative-buttons-content{
      margin: 0 10px;
      min-height: 281px;
      @media (max-width: $screen-xs-max){
        margin: 12px 0px;
      }
      .initiative_buttons_title{
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        color: $color-white;
        @include font-size(3.3);
        line-height: 66px;
        background: $color-light-blue;
        @media (max-width: $screen-sm-max){
          @include font-size(2.5);
        }
      }

      .initiative-buttons-content-inner{
        position: relative;
        min-height: 212px;
        img{
          padding-top: 20px;
        }
        .initiative-button{
          position: absolute;
          bottom: 20px;
          right: 0;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background: $color-light-blue;
          a{
            &.btn-initiative{
              i{
                font-weight: bold;
                color: white;
                line-height: inherit;
                text-align: center;
              }
            }
          }
        }
      }
    }
    &:nth-child(2){
      .initiative_buttons_title{
        background: $color-grey4;
      }
      .initiative-buttons-content-inner{
        .initiative-button{
          background:  $color-grey4;
        }
      }
    }
    &:nth-child(3){
      .initiative_buttons_title{
        background: $color-orange;
      }
      .initiative-buttons-content-inner{
        .initiative-button{
          background: $color-orange;
        }
      }
    }
  }
}

//content under bacground cover
.outer-container-content{
  padding: 0 5px;
  h1{
    color: $color-green;
    margin: 28px 0 10px 18px;
    letter-spacing: 3.2px;
  }
  p{
    color: $color-black;
    line-height: 1.7;
    letter-spacing: .35px;
    -webkit-text-stroke-width: .2px;
    margin-left: 16px;
    margin-right: 17.8px;
    strong{
      font-size: 2.04rem;
      line-height: 1;
      letter-spacing: 0.4px;
      -webkit-text-stroke-width: 0;
      margin-right:0;
    }
  }
}
//box-bottom
.box-link-container{
  .box-link-inner-container{
    &:nth-child(1){
      .box-menu-image{
        margin-left: 3px;
      }
    }
    &:nth-child(2){
      .box-menu-image{
        margin-left: 5px;
      }
    }
    &:nth-child(3){
      .box-menu-image{
        margin-left: 6px;
      }
    }
    .box-menu-image{
      margin: 10px auto;
      display: table;
      @media (max-width: $screen-xs-max){
        margin: 10px auto !important;
      }
    }
  }
  margin: 0px 0 35px;
}
//social-icon
.social-media{
  float: right;
  margin: 0 6px 8px 0;
  a{
    display: inline-block;
  }
}

.border-triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 410px 367px 0 0;
  border-color: $color-grey-opacity  transparent transparent transparent;
  img{
    position: absolute;
    top: 36px;
    left: 12px;
    width: 181px;
    @media (max-width: $screen-xs-max){
      position: absolute;
      top: 5px;
      width: 89px;
      left: 2px;
    }
  }
  @media (max-width: $screen-xs-max){
    border-width: 176px 172px 0 0;
  }
}

.second-menu-container{
  //padding-top: 4px;
  //margin-top: 5px;
  .second-menu{
    padding: 0;
    margin: 0;
    margin-left: 25px;
    .nav-primary {
      margin-bottom: 0;
      .navbar-header{
        button{
          .icon-bar{
            background: $color-white;
          }
        }
      }
      #second-menu{
        padding: 0;
        .menu {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;

            a {
              margin-right: 10px;
              line-height: 50px;
              font-size: 2rem;
              font-weight: 600;
              color: $color-white;
              text-transform: uppercase;
              letter-spacing: 1px;
              &::after {
                content: '/';
                font-family: FontAwesome;
                margin-left: 13px;
                font-size: 22px;
                vertical-align: top;
                color: $color-dark-green;
              }
              &:hover,
              &:focus {
                text-decoration: none;
              }
              @media (max-width: $screen-sm-min) {
                margin-right: 6px;
                font-size: 1.3rem;
              }
            }
            &:nth-last-of-type(1) {
              a {
                &::after {
                  display: none;
                }
              }
            }
            @media (max-width: $screen-xs-max){
              display: block;
              a{
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: $screen-xs-max){
      margin-left:0;
    }
  }
}

.single{
  .hentry{
    margin: 15px 0;
    header{
      h1{
        color: $color-dark-green;
        margin-bottom: 30px;
      }
    }
    .entry-content{
      
    }
    footer{
      background-color: $color-white;
    }
  }
}

//gallery

.ngg-albumoverview{
  .ngg-album-compact{
    margin-bottom: 25px!important;
    .ngg-album-compactbox{
      .ngg-album-link{
        .Link{
          img{

          }
        }
      }
    }
    h4{
      .ngg-album-desc{
        overflow: hidden;
        display: block;
        min-height: 24px;
        height:auto;
        margin-top: 17px;
        font-family: $open-sans;
        &:hover,
        &:focus{
          color: $color-light-green;
        }
      }
    }
    p{
      &.ngg-album-gallery-image-counter{
        strong{
          font-size: 1.1rem;
        }
      }
    }
  }
}

.sidebar-primary{
  .main{
    width:100%;
  }
}

//event calendar
.simcal-calendar{
  .simcal-calendar-grid{
    .simcal-calendar-head{

    }
    tbody{
      tr{
        td{
          .simcal-events{
            li{
              .simcal-event-title{
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
