main.main{
  >.row{
    margin:0;
  }
}

//search form
.search-form-container{
  margin-top: 23px;
  .search-form{
    margin-right: -6px;
    label{
      input{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        height: 46px;
        width: 274px;
        border: solid 1px $color-dark-grey;
        margin-right: -4px;
      }
    }
    button[type="submit"]{
      vertical-align: top;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 6px 12px 7px;
      width: 61px;
      background: $color-green;
      height: 46px;
      color: #FFFFFF;
      border-color: $color-green;
      text-transform: uppercase;
      @include font-size(2.3);
      letter-spacing: 1px;
      &:hover{
        background-color: $color-light-green;
      }
    }
    @media (min-width: $screen-md-min){
      margin-right: -7px;
    }
  }
}

//big-background
.home-page-background{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 340px;
  overflow: hidden;
  -moz-box-shadow: inset 0 0 150px #000000;
  -webkit-box-shadow: inset 0 0 150px #000000;
  box-shadow: inset 0 0 150px #000000;
  position: relative;
  .home-page-background-caption{
    top: 50%;
    transform: translateY(5%);
    padding: 0 23% 0 15%;
    h1{
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        @include font-size(3.5);
      }
      @media (min-width: $screen-md-min){
        @include font-size(4.5);
      }
      font-family: $Lulo-Clean-Outline-Bold;
      color: $color-white;
      @include font-size(1.7);
      text-transform: uppercase;
      margin-top: 11px;
      margin-bottom: 4px;
    }
    p{
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.6;
      @include font-size(1.2);
      color: $color-white;
      letter-spacing: 5px;
      margin: 7px -5.8% 0 0;
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        @include font-size(2);
      }
      @media (min-width: $screen-md-min){
        font-size: 3rem;
      }
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    min-height: 327px;
  }
  @media (max-width: $screen-xs-max){
    min-height: 295px;
  }
}

//initiative button
.initiative-buttons-ounter-container{
  .initiative-buttons-inner-container{
    @media (min-width: $screen-lg-min){
      padding: 0 100px;
    }

    .initiative-buttons-box{
      .initiative-buttons-content{
        margin: 30px 16px 30px 19px;
        background-color: $color-light-grey4;
        @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max){
          height: 232px;
        }
        .initiative_buttons_title{
          background-color: $color-green;
          text-align: center;
          @include font-size(3.3);
          line-height: 66px;
          text-transform: uppercase;
          color: $color-white;
          margin: 0;
          font-weight:600;
          @media (max-width: $screen-sm-max){
            @include font-size(2.5);
          }
        }
        .initiative-buttons-content-inner{

          position: relative;
          a{
            img{
              top: 20%;
              margin: auto;
              transform: translateY(13%);
              @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                max-width: 116px;
                margin: inherit;
                margin-left: 19px;
              }
            }
          }
          .initiative-button{
            position: absolute;
            bottom: 13px;
            right: 40px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            background: $color-light-green;
            @media (max-width: $screen-sm-max){
              bottom: -20px;
              right: 20px;
            }
            @media (max-width: $screen-xs-max){
              bottom: 14px;
            }
          }
          @media (max-width: $screen-xss-max){
            height: 308px;
          }
          @media (min-width: $screen-xs-min){
            height: 158px;
          }
          @media (min-width: $screen-xs-max){
            height: 129px;
          }
          @media (min-width: $screen-md-min){
            height: 278px;
          }
        }
      }
      &.content-live-healthy{
        .initiative-buttons-content{
          .initiative_buttons_title{
            background: $color-light-blue;
          }
          .initiative-buttons-content-inner{
            a{
              img{
                @media (min-width: $screen-md-min){
                  width: 160px;
                }
                @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
                  width: 85px;
                }
              }
            }
            .initiative-button{
              .btn-initiative{
                background-color: $color-light-blue;
              }
            }
          }
          @media (min-width: $screen-sm-min){
            margin-left: 0;
            margin-right: 35px;
          }
        }
      }
      &.content-acp{
        .initiative_buttons_title{
          background: $color-grey4;
        }
        .initiative-buttons-content-inner{
          a{
            img{
              transform: translateY(0);
              @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                max-width: 100%;
                margin: inherit;
                margin-left: 0;
              }
              @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
                width: 196px;
                margin: inherit;
                margin-left: 0px;
              }
            }
          }
          .initiative-button{
            .btn-initiative{
              background-color: $color-grey4;
            }
          }
        }
      }
      &.content-gugo{
        .initiative-buttons-content{
          .initiative_buttons_title{
            background: $color-orange;
          }
          .initiative-buttons-content-inner{
            a{
              img{
                @media (min-width: $screen-md-min){
                  width: 160px;
                }
                @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
                  width: 85px;
                }
              }
            }
            .initiative-button{
              .btn-initiative{
                background-color: $color-orange;
              }
            }
          }
          @media (min-width: $screen-sm-min) {
            margin-right: 0;
            margin-left: 35px;
          }
        }
      }
    }
    @media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
      .col-xs-12{
        width: 33.3333333333%;
        &.initiative-buttons-box{
          .initiative-buttons-content{
            .initiative_buttons_title{
              @include font-size(1.5);
              line-height: 44px;
            }
          }
        }
      }
    }
  }
}

//content under bacground cover
.outer-container-content{
  padding: 39px 5px;
  h1{
    color: $color-green;
    margin: 0px 0 10px 18px;
    letter-spacing: 3.2px;
  }
  p{
    color: $color-black;
    line-height: 1.7;
    letter-spacing: .35px;
    -webkit-text-stroke-width: .2px;
    margin-left: 16px;
    margin-right: 17.8px;
    strong{
      font-size: 2.04rem;
      line-height: 1;
      letter-spacing: 0.4px;
      -webkit-text-stroke-width: 0;
      margin-right:0;
    }
  }
}
//box-bottom
.box-link-container{
  margin: 0px 0 35px;
  .box-link-inner-container{
    .box-menu-image{
      margin: 10px 5px;
      img{
        margin: auto;
        @media (min-width: $screen-lg-min){
          width: 85%;
        }
      }
      @media (max-width: $screen-xs-max){
        margin: 5px;
      }
    }
    &.col-xs-6{
      @media screen and (min-width: 420px) and (max-width: 767px) and (orientation: landscape) {
        width: 25%;
      }
    }
  }
  @media (max-width: $screen-xs-max){
    margin: 15px 15px 35px;
  }
}
//social-icon
.social-media{
  float: right;
  margin: 10px 0 20px;
  a{
    display: inline-block;
    font-size: 2.8rem;
    color: $color-white;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 25px;
    &.icon-instagram{
      background-color: $color-light-blue3;
      &:hover,&:focus{
        background-color: $color-light-blue3-hover;
      }
    }
    &.icon-twitter{
      background-color: $color-light-blue4;
      &:hover,&:focus {
        background-color: $color-light-blue4-hover;
      }
    }
    &.icon-facebook{
      background-color: $color-dark-blue2;
      &:hover,&:focus {
        background-color: $color-dark-blue2-hover;
      }
    }
  }
}

.border-triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 340px 367px 0 0;
  border-color: $color-grey-opacity  transparent transparent transparent;
  img{
    position: absolute;
    top: 36px;
    left: 12px;
    width: 157px;
    @media (max-width: $screen-xs-max){
      position: absolute;
      top: 5px;
      width: 88px;
      left: 2px;
    }
  }
  @media (max-width: $screen-xs-max){
    border-width: 114px 126px 0 0;
  }
}

.second-menu-container{
  //padding-top: 4px;
  //margin-top: 5px;
  .second-menu{
    padding: 0;
    margin: 0;
    margin-left: 25px;
    .nav-primary {
      margin-bottom: 0;
      .navbar-header{
        button{
          .icon-bar{
            background: $color-white;
          }
        }
      }
      #second-menu{
        padding: 0;
        .menu {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;

            a {
              margin-right: 10px;
              line-height: 50px;
              font-size: 2rem;
              font-weight: 600;
              color: $color-white;
              text-transform: uppercase;
              letter-spacing: 1px;
              &::after {
                content: '/';
                font-family: FontAwesome;
                margin-left: 13px;
                font-size: 22px;
                vertical-align: top;
                color: $color-dark-green;
              }
              &:hover,
              &:focus {
                text-decoration: none;
              }
              @media (max-width: $screen-sm-min) {
                margin-right: 6px;
                font-size: 1.3rem;
              }
              @media (min-width: $screen-sm-min)and(max-width: $screen-sm-max) {
                font-size: 98%;
              }
            }
            &:nth-last-of-type(1) {
              a {
                &::after {
                  display: none;
                }
              }
            }
            @media (max-width: $screen-xs-max){
              display: block;
              a{
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: $screen-xs-max){
      margin-left:0;
    }
  }
}

.single{
  .hentry{
    margin: 15px;
    header{
      h1{
        color: $color-dark-green;
        margin-bottom: 30px;
      }
    }
    .entry-content{
      
    }
    footer{
      background-color: $color-white;
    }
  }
}

//gallery

.ngg-albumoverview{
  .ngg-album-compact{
    margin-bottom: 25px!important;
    float: none;
    display: inline-block;
    width: 100%;
    @media (min-width: $screen-xs-min){
      width: 49%;
    }
    .ngg-album-compactbox{
      .ngg-album-link{
        .Link{
          img{
              width: 100%;
          }
        }
      }
    }
    h4{
      .ngg-album-desc{
        overflow: hidden;
        display: block;
        min-height: 24px;
        height:auto;
        margin-top: 17px;
        font-family: $open-sans;
        &:hover,
        &:focus{
          color: $color-light-green;
        }
      }
    }
    p{
      &.ngg-album-gallery-image-counter{
        strong{
          font-size: 1.1rem;
        }
      }
    }
    @media (max-width: $screen-xs-max){
      padding: 0!important;
    }
  }
}

.ngg-galleryoverview{
  .ngg-gallery-thumbnail-box{
    width:33.333%;
    .ngg-gallery-thumbnail{
      margin-top: 15px;
      margin-top: 15px;
      a{
        img{
          width: 100%;
        }
      }
    }
  }
}

.sidebar-primary{
  .main{
    width:100%;
  }
}

//event calendar
.simcal-calendar{
  border: solid 2px #d8d8d8;
  padding: 20px;
  margin: 50px 0;
  .simcal-calendar-grid{
    .simcal-calendar-head{
      .simcal-nav{
        .simcal-nav-button{
          i{
            color: $color-dark-grey2;
          }
        }
        h3{
          margin-bottom: 30px;
        }
      }
      .simcal-week-day{
        background: $color-dark-grey2;
        padding: 10px;
        color: $color-white;
        font-size: 1.8rem;
      }
    }
    tbody{
      tr{
        td{
          .simcal-day-label{
            text-align: left;
            background-color: $color-light-grey2;
            color: $color-white;
            padding: 7px 10px;
            font-size: 1.5rem;
          }
          .simcal-events{
            li{
              .simcal-event-title{
                font-size: 1.5rem;
                color: $color-light-blue2;
                font-weight: bold;
                letter-spacing: 0;
              }
            }
          }
        }
      }
    }
  }
}

//news
.title-news{
  border-bottom: solid 2px $color-light-green;
  margin-bottom: 3.571429rem;
  .title-page{
    color: $color-light-green;
  }
}

//gravityform
.gravity-form-container{
  padding: 0 18px 0px;
  form{
    .gform_heading{
      .gform_title{
        font-size: 2.6rem;
        color: $color-dark-green;
      }
    }
    .gform_body{
      .gform_fields{
        li{
          .gfield_label{
            font-family: $open-sans;
          }
          .ginput_container{
            label{
              display: none;
            }
          }
          .ginput_container_radio{
            .gfield_radio{
              label{
                display: inline-block;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .gform_footer{
      input[type="submit"]{
        padding: 6px 12px 7px;
        width: 126px;
        background: $color-green;
        color: $color-white;
        border-color: $color-green;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: 1px;
        &:hover{
          background-color: $color-light-green;
        }
      }
      p{
        font-size:1.4rem;
      }
    }
  }
}



//pagination
.nav-links{
  .nav-previous{
    display: inline-block;
  }
  .nav-next{
    float: right;
  }
}

//placeholder
::-webkit-input-placeholder {
  color: $color-light-grey3;
  font-family: $MuseoSans700;
  font-size: 1.8rem;
  letter-spacing: 2.1px;
}

:-moz-placeholder { /* Firefox 18- */
  color: $color-light-grey3;
  font-family: $MuseoSans700;
  font-size: 1.8rem;
  letter-spacing: 2.1px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $color-light-grey3;
  font-family: $MuseoSans700;
  font-size: 1.8rem;
  letter-spacing: 2.1px;
}

:-ms-input-placeholder {
  color: $color-light-grey3;
  font-family: $MuseoSans700;
  font-size: 1.8rem;
  letter-spacing: 2.1px;
}

