.article-outer-container{
  padding: 0px 18px 30px;
    article{
      header{
        .entry-title{
          font-size: 2.13rem;
          letter-spacing: .4px;
          font-family: $open-sans;
          font-weight: 600;
          a{
            color: $color-dark-green;
          }
        }
        .post-info{
          p{
            font-style: italic;
            margin-bottom:4px
          }
        }
      }
      .entry-summary{
        margin: 15px 0 0px;
        p{
          letter-spacing: .2px;
        }
      }
    }

  &:nth-child(1){
    .article-content{
      article{
        header{
          .entry-title{
            margin-top: 10px;
          }
        }
      }
    }
  }
}