.page-template-template-initiatives{
  .home-page-background{
    .border-triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 410px 367px 0 0;
      border-color: $color-grey-opacity  transparent transparent transparent;
      img{
        position: absolute;
        top: 36px;
        left: 12px;
      }
    }
    .home-page-background-caption{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-light-green;
      top:auto;
      p{
        margin: auto;
        width: 855px;
        padding-top: 8px;
        letter-spacing: 2.9px;
        @media (max-width: $screen-xs-max){
          display: none;
        }
      }
    }
  }
  .outer-container-content{
    padding: 20px 5px;
  }
  .box-link-container{
    .box-link-inner-container{
      &:nth-child(1){
        .box-menu-image{
          margin-left: 0;
        }
      }
      &:nth-child(2){
        .box-menu-image{
          margin-left: 2px;
        }
      }
      &:nth-child(3){
        .box-menu-image{
          margin-left: 4px;
        }
      }
      .box-menu-image{
        margin-left:7px;
      }
    }
  }
}